@font-face {
  font-family: "glacial";
  src: url("GlacialIndifferenceRegular.ttf") format("truetype");
}

html {
  scroll-behavior: smooth;
}

body {
  color: #fff;
  font-family: "glacial", sans-serif;
  overflow-x: hidden;
}

span {
  display: block;
  width: 120px;
  height: 5px;
  border-radius: 9px;
  background: #ff4d5a;
}

a {
  color: #fff;
}

a:hover {
  color: #828c96;
}

/* scroll bar */
::-webkit-scrollbar {
  width: 16px;
}

::-webkit-scrollbar-track {
  background-color: #051d39;
}

::-webkit-scrollbar-thumb {
  height: 84px;
  border: 5px solid transparent;
  border-radius: 8px;
  background-clip: content-box;
  background-color: hsla(0, 0%, 43.5%, 0.46);
}

.span-top {
  margin: 32px 0px 32px;
}

.span-bottom {
  margin: -10px 0px 35px 54px;
}

.container-fluid {
  padding: 7% 10%;
}

.btn-primary {
  color: #fff;
  background-color: #ff4d5a;
  border-color: #ff4d5a;
}

.btn-primary:hover {
  background-color: #de424d;
  border-color: #de424d;
}

.btn {
  border-radius: 1.5rem;
  letter-spacing: 1.6px;
  font-size: 1rem;
  padding: 0.3em 1em;
  margin-top: 1.3rem;
}

.btn:hover {
  transform: translateY(-0.2rem);
  transition: all 0.5s ease;
}

/* Nav Bar */
.navbar-nav {
  align-items: flex-end;
}

.navbar-nav .nav-link {
  padding-right: 3rem;
  padding-left: 0;
}

.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 1.5rem 3rem 0;
  margin-bottom: 1.5rem;
  z-index: 10;
}

.navbar-brand {
  font-size: 1.2rem;
  letter-spacing: 0.4rem;
}

nav .wrap {
  display: flex;
  position: relative;
}

nav .social-icons {
  display: flex;
  margin-top: 0.5rem;
  margin-right: 2.5rem;
}

.navbar-toggler {
  border: 0;
  padding: 0;
}

.animated-icon {
  width: 4rem;
  height: 2rem;
  position: relative;
  margin-right: 2rem;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: 0.5s ease-in-out;
  -moz-transition: 0.5s ease-in-out;
  -o-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
  cursor: pointer;
}

.animated-icon span {
  display: block;
  position: absolute;
  height: 3.5px;
  width: 100%;
  opacity: 1;
  left: 0;
  margin: auto;
  border-radius: 9px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: 0.25s ease-in-out;
  -moz-transition: 0.25s ease-in-out;
  -o-transition: 0.25s ease-in-out;
  transition: 0.25s ease-in-out;
}

.animated-icon span:nth-child(1) {
  top: 0;
}

.animated-icon span:nth-child(2),
.animated-icon2 span:nth-child(3) {
  top: 16px;
}

.animated-icon span:nth-child(4) {
  top: 32px;
}

.animated-icon.open span:nth-child(1) {
  top: 11px;
  width: 0%;
  left: 50%;
}

.animated-icon.open span:nth-child(2) {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}

.animated-icon.open span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

.animated-icon.open span:nth-child(4) {
  top: 11px;
  width: 0%;
  left: 50%;
}

/* Title Section */
.title__curtain {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: #020b16;
  z-index: 99999;
  /* transition: all 0.6s ease-in-out; */
  transition: all 0.5s cubic-bezier(0.28, 0.21, 0.91, 0.63);
}

#title {
  height: 100vh;
  background: linear-gradient(#061f3d, #040e1b);
  position: relative;
}

.my-name-container {
  padding: 5rem 0 0;
}

.my-name-container h1 {
  transform: translateX(-50rem);
  transition: all 1s;
}

.my-name-container span:nth-child(3) {
  transform: translateX(-30rem);
  transition: all 1s;
}

.my-name-container span:nth-child(4) {
  transform: translateX(-90rem);
  transition: all 1s;
}

.my-name-container h4:nth-child(5) {
  transform: translateX(-120rem);
  transition: all 1s;
}

.my-name-container h4:nth-child(6) {
  transform: translateX(-150rem);
  transition: all 1s;
}

#title h1 {
  font-size: 7.5rem;
  letter-spacing: 0.2em;
  line-height: 1.2;
}

#title h4 {
  letter-spacing: 0.16em;
  line-height: 1.5;
}

#title p {
  font-size: 3.5rem;
  color: #ff4d5a;
  letter-spacing: 0.13em;
  font-family: "Josefin Sans", sans-serif;
  height: auto;
  /* right: 30%; */
  /* margin-bottom: 70px; */
  text-shadow: 2px 2px 5px #393e46;
}

.title-img-container {
  position: absolute;
  top: 7%;
  bottom: 0;
  left: 29%;
  margin: auto;
  height: 1385px;
  width: 1385px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;

  opacity: 0;
  transition: all 1.5s;
}

.title-img-container img {
  max-width: 100%;
  height: auto;
  width: 100%;
}

.second-title-img-container {
  position: relative;
  width: 40%;
  height: 40%;
}

.second-title-img-container div:nth-child(3) {
  transform: translateX(60rem);
}

.second-title-img-container div:nth-child(4) {
  transform: translateX(230rem);
}

.second-title-img-container div:nth-child(5) {
  transform: translateX(130rem);
}

.second-title-img-container div:nth-child(6) {
  transform: translateX(170rem);
}

.second-title-img-container div:nth-child(7) {
  transform: translateX(70rem);
}

.second-title-img-container div:nth-child(8) {
  transform: translateY(10rem);
}

.t {
  position: relative;
  display: block;
  left: 0px;
  top: 0px;
  transition: all 1s;
}

.i {
  position: absolute;
  display: block;
  left: 0px;
  top: 0px;

  transition: all 1s;
}

.img-size {
  width: 100%;
  height: 100%;
}

.img-text {
  position: absolute;
  left: -33%;
  top: 46%;
  -webkit-transform: translate3d(0, -50%, 0);
  transform: translate3d(0, -50%, 0);
}

.lights_container {
  position: absolute;
  top: 0;
  bottom: 0;
  right: -17%;
  margin: auto;
  height: 1050px;
  width: 1050px;
}

.stars_container {
  position: absolute;
  top: 100%;
  bottom: 0;
  right: -18%;
  margin: auto;
  height: 1200px;
  width: 1200px;
}

.moon {
  left: -19%;
  width: 82%;
  top: 9%;
}

.fog {
  position: absolute;
}

.back_fog1 {
  top: 10%;
  left: -41%;
  width: 65%;
}

.fog1 {
  top: 18%;
  left: 30%;
  width: 73%;
}

.fog2 {
  top: 76%;
  left: 34%;
  width: 68%;
}

.fog3 {
  top: 69%;
  left: -50%;
  width: 68%;
}

/* Content Animations */
.content--hidden {
  opacity: 0;
  transform: translateY(10rem);
}

.container-anim,
.h1-anim,
.span-top-anim,
.span-bottom-anim,
.h4-anim {
  transition: all 1s ease-out;
}

.h1--hidden {
  opacity: 0;
  transform: translateX(-70rem);
}

.h4--hidden {
  transform: translateX(-75rem);
}

.span-top--hidden {
  transform: translateX(-20rem);
}

.span-bottom--hidden {
  transform: translateX(-15rem);
}

.container-fluid {
  transition: all 0.7s ease-in-out;
}
/* Projects Section */

#web-development {
  background: linear-gradient(#040e1b, #061f3c);
}

#web-development .container-fluid {
  padding: 20% 15% 0;
}

#web-development h1 {
  font-size: 5.5rem;
  letter-spacing: 0.2em;
  line-height: 1.2;
}

#web-development h4 {
  font-size: 1.5rem;
  letter-spacing: 0.1em;
  line-height: 1.2;
}

#content .container-fluid {
  padding: 4% 17% 0;
}

#content img {
  border-radius: 12px;
  margin-bottom: 3%;
}

#content h3 {
  font-size: 2rem;
  font-weight: bold;
  letter-spacing: 0.1em;
  color: #ff4d5a;
}

#content h5 {
  font-size: 1.1rem;
  line-height: 1.5;
  padding: 4px 0 0;
  letter-spacing: 0.12em;
}

#content .btn {
  margin-bottom: 10%;
}

#gameplay-programming {
  background: linear-gradient(#061f3c, #061f3c);
}

#gameplay-programming .container-fluid {
  padding: 1% 15% 3%;
}

#gameplay-programming h4 {
  font-size: 1.5rem;
  letter-spacing: 0.1em;
  line-height: 1.2;
}

.unity-badge {
  position: relative;
  margin-left: 20px;
  width: 11%;
}

#carousel .container-fluid {
  padding: 1% 1%;
}

.carousel-control-next {
  right: 70px;
}

.carousel-control-prev {
  left: 70px;
}

#duckbite .image {
  width: 66%;
  height: auto;
  margin: auto;
  border-radius: 35px;
}

#catbite .image {
  width: 66%;
  height: auto;
  margin: auto;
  border-radius: 35px;
}

#penguin-vs-monsters .image {
  width: 66%;
  height: auto;
  margin: auto;
  border-radius: 35px;
}

#galaxy-pew-pew .image {
  width: 35%;
  height: auto;
  margin: auto;
  border-radius: 35px;
}

#beep-boop .image {
  width: 66%;
  height: auto;
  margin: auto;
  border-radius: 35px;
}

#brek-blok .image {
  width: 55%;
  height: auto;
  margin: auto;
  border-radius: 35px;
}

#the-void .image {
  width: 60%;
  height: auto;
  margin: auto;
  border-radius: 35px;
}

#magic-number .image {
  width: 60%;
  height: auto;
  margin: auto;
  border-radius: 35px;
}

#sumo-fight .image {
  width: 60%;
  height: auto;
  margin: auto;
  border-radius: 35px;
}

#reflex .image {
  width: 60%;
  height: auto;
  margin: auto;
  border-radius: 35px;
}

#notangry-birds .image {
  width: 55%;
  height: auto;
  margin: auto;
  border-radius: 35px;
}

#nut-car .image {
  width: 55%;
  height: auto;
  margin: auto;
  border-radius: 35px;
}

#the-runner .image {
  width: 55%;
  height: auto;
  margin: auto;
  border-radius: 35px;
}

#hungry-stampede .image {
  width: 55%;
  height: auto;
  margin: auto;
  border-radius: 35px;
}

.carousel-inner {
  text-align: center;
}

#description .container-fluid {
  padding: 0;
  width: 400px;
}

#description .col-md-12 {
  padding: 0;
}

#description h3 {
  width: 400px;
  font-size: 2rem;
  font-weight: bold;
  letter-spacing: 0.1em;
  padding-bottom: 10px;
  color: #ff4d5a;
}

#description h5 {
  font-size: 1.3rem;
  width: 500px;
  line-height: 1.5;
  /* letter-spacing: 0.5px; */
}

#description li {
  font-size: 1.1rem;
  width: 500px;
  line-height: 2;
  letter-spacing: 1.4px;
}

#gameplay-programming .row {
  padding-bottom: 10rem;
}

/* About Me Section */
#about-me {
  background: linear-gradient(#061f3c, #061f3d);
}

#about-me .container-fluid {
  padding: 5% 15% 15%;
}

#about-me h1 {
  font-size: 5.5rem;
  letter-spacing: 0.2em;
  line-height: 1.2;
}

#about-me p {
  font-size: 1.5rem;
  letter-spacing: 2px;
  line-height: 2em;
}

/* Contact Me Section */
#contact-me {
  background: linear-gradient(#061e3b, #040e1b);
}

#contact-me .container-fluid {
  padding: 5% 15% 20%;
}

#contact-me h1 {
  font-size: 5.5rem;
  letter-spacing: 0.2em;
  line-height: 1.2;
}

#contact-me h4 {
  font-size: 1.5rem;
  letter-spacing: 3px;
  line-height: 1.2;
}

#contact-me a {
  text-decoration: none;
}

#contact-me .social-icons {
  margin-top: 3rem;
}

#contact-me .social-icons a {
  margin-right: 2rem;
}

/******** Media Queries *********/

/* Desktops */
@media screen and (max-width: 2560px) {
  html {
    overflow-x: hidden;
  }

  #title {
    height: 100vh;
    background: linear-gradient(#061f3d, #040e1b);
    position: relative;
  }

  .my-name-container {
    padding: 11rem 0 0;
    opacity: 0;
    transition: all 1.5s;
  }

  #title h1 {
    font-size: 7.5rem;
    letter-spacing: 0.2em;
    line-height: 1.2;
  }

  #title h4 {
    letter-spacing: 0.16em;
    line-height: 1.5;
  }

  #title p {
    font-size: 4.2rem;
    color: #ff4d5a;
    letter-spacing: 0.13em;
    font-family: "Josefin Sans", sans-serif;
    height: auto;
    text-shadow: 2px 2px 5px #393e46;
  }

  .title-img-container {
    position: absolute;
    top: 7%;
    bottom: 0;
    left: 40%;
    margin: auto;
    height: 1385px;
    width: 1385px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }

  .title-img-container img {
    max-width: 100%;
    height: auto;
    width: 100%;
  }

  .second-title-img-container {
    position: relative;
    width: 50%;
    height: 50%;
  }

  .t {
    position: relative;
    display: block;
    left: 0px;
    top: 0px;
  }

  .i {
    position: absolute;
    display: block;
    left: 0px;
    top: 0px;
  }

  .img-size {
    width: 100%;
    height: 100%;
  }

  .img-text {
    position: absolute;
    left: -39%;
    top: 46%;
    -webkit-transform: translate3d(0, -50%, 0);
    transform: translate3d(0, -50%, 0);
  }

  .lights_container {
    position: absolute;
    top: 0;
    bottom: 0;
    right: -17%;
    margin: auto;
    height: 1385px;
    width: 1385px;
  }

  .stars_container {
    position: absolute;
    top: 50%;
    bottom: 0;
    right: -10%;
    margin: auto;
    height: 1500px;
    width: 1500px;
  }

  .moon {
    left: -19%;
    width: 82%;
    top: 9%;
  }

  .fog {
    position: absolute;
  }

  .back_fog1 {
    top: 10%;
    left: -41%;
    width: 65%;
  }

  .fog1 {
    top: 18%;
    left: 30%;
    width: 73%;
  }

  .fog2 {
    top: 76%;
    left: 34%;
    width: 68%;
  }

  .fog3 {
    top: 69%;
    left: -50%;
    width: 68%;
  }

  /* Laptops */
  @media screen and (max-width: 1540px) {
    html {
      overflow-x: hidden;
    }

    #title {
      height: 100vh;
      background: linear-gradient(#061f3d, #040e1b);
      position: relative;
    }

    .my-name-container {
      padding: 5rem 0 0;
    }

    #title h1 {
      font-size: 7.5rem;
      letter-spacing: 0.2em;
      line-height: 1.2;
    }

    #title h4 {
      letter-spacing: 0.16em;
      line-height: 1.5;
    }

    #title p {
      font-size: 3.5rem;
      color: #ff4d5a;
      letter-spacing: 0.13em;
      font-family: "Josefin Sans", sans-serif;
      height: auto;
      /* right: 30%; */
      /* margin-bottom: 70px; */
      text-shadow: 2px 2px 5px #393e46;
    }

    .title-img-container {
      position: absolute;
      top: 7%;
      bottom: 0;
      left: 29%;
      margin: auto;
      height: 1385px;
      width: 1385px;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
    }

    .title-img-container img {
      max-width: 100%;
      height: auto;
      width: 100%;
    }

    .second-title-img-container {
      position: relative;
      width: 40%;
      height: 40%;
    }

    .t {
      position: relative;
      display: block;
      left: 0px;
      top: 0px;
    }

    .i {
      position: absolute;
      display: block;
      left: 0px;
      top: 0px;
    }

    .img-size {
      width: 100%;
      height: 100%;
    }

    .img-text {
      position: absolute;
      left: -33%;
      top: 46%;
      -webkit-transform: translate3d(0, -50%, 0);
      transform: translate3d(0, -50%, 0);
    }

    .lights_container {
      position: absolute;
      top: 0;
      bottom: 0;
      right: -17%;
      margin: auto;
      height: 1050px;
      width: 1050px;
    }

    .stars_container {
      position: absolute;
      top: 103%;
      bottom: 0;
      right: -12%;
      margin: auto;
      height: 1285px;
      width: 1285px;
    }

    .moon {
      left: -19%;
      width: 82%;
      top: 9%;
    }

    .fog {
      position: absolute;
    }

    .back_fog1 {
      top: 10%;
      left: -41%;
      width: 65%;
    }

    .fog1 {
      top: 18%;
      left: 30%;
      width: 73%;
    }

    .fog2 {
      top: 76%;
      left: 34%;
      width: 68%;
    }

    .fog3 {
      top: 69%;
      left: -50%;
      width: 68%;
    }

    /* iPad Screens */
    @media screen and (max-width: 1024px) {
      html {
        overflow-x: hidden;
      }

      .navbar-nav .nav-link {
        padding-right: 0;
        padding-left: 0;
      }

      .animated-icon {
        margin: 0;
      }

      .my-name-container {
        margin: 30rem 0 0;
      }

      #title h1 {
        font-size: 5rem;
      }

      #title p {
        font-size: 2.3rem;
        margin-top: 1.5rem;
      }

      .title-img-container {
        width: 105vw;
        height: 105vw;
        left: 9%;
        top: 10%;
      }

      .lights_container {
        right: -30%;
        height: 90vw;
        width: 90vw;
      }

      .stars_container {
        top: 60%;
        right: -30%;
        height: 100vw;
        width: 100vw;
      }

      .fog2 {
        top: 70%;
        left: 30%;
        width: 65%;
      }

      .fog3 {
        top: 80%;
        left: -45%;
        width: 65%;
      }

      /* Content Animations */
      .h1--hidden {
        opacity: 0;
        transform: translateX(-40rem);
      }

      .h4--hidden {
        transform: translateX(-35rem);
      }

      .span-top--hidden {
        transform: translateX(-10rem);
      }

      .span-bottom--hidden {
        transform: translateX(-7rem);
      }

      #gameplay-programming .container-fluid {
        padding: 40% 15% 3%;
      }

      #web-development {
        padding-top: 25rem;
      }

      #carousel .container-fluid {
        padding: 3% 1% 2%;
      }

      #duckbite .image {
        width: 80%;
        border-radius: 20px;
      }

      #catbite .image {
        width: 80%;
        border-radius: 20px;
      }

      #penguin-vs-monsters .image {
        width: 80%;
      }

      #galaxy-pew-pew .image {
        width: 45%;
      }

      #beep-boop .image {
        width: 80%;
      }

      #brek-blok .image {
        width: 75%;
      }

      #the-void .image {
        width: 80%;
      }

      #magic-number .image {
        width: 80%;
      }

      #sumo-fight .image {
        width: 80%;
      }

      #reflex .image {
        width: 80%;
      }

      #notangry-birds .image {
        width: 75%;
      }

      #nut-car .image {
        width: 75%;
      }

      #the-runner .image {
        width: 75%;
      }

      #hungry-stampede .image {
        width: 75%;
      }

      .carousel-control-next {
        right: -10px;
      }

      .carousel-control-prev {
        left: -10px;
      }

      .carousel-indicators {
        display: none;
      }

      .unity-badge {
        width: 15%;
      }

      #description .container-fluid {
        padding: 9% 0 0;
        position: relative;
        left: 7.2rem;
      }

      #description h3 {
        width: 550px;
        font-size: 2.8rem;
        padding-bottom: 15px;
      }

      #description h5 {
        font-size: 1.5rem;
        width: 550px;
        line-height: 1.5;
      }

      #description li {
        font-size: 1.4rem;
        width: 550px;
        line-height: 2;
      }

      .btn {
        font-size: 1.5rem;
      }

      #content .container-fluid {
        padding: 4% 13% 0;
      }

      #web-development h4 {
        font-size: 1.5rem;
      }

      #content h3 {
        font-size: 2.8rem;
        padding-top: 1rem;
      }

      #content h5 {
        font-size: 1.4rem;
        letter-spacing: 0.1em;
      }

      #content .btn {
        margin-top: 1rem;
        margin-bottom: 20%;
      }

      #about-me .container-fluid {
        padding: 5% 13% 3%;
      }

      #about-me h1 {
        font-size: 5rem;
      }

      #about-me p {
        font-size: 1.5rem;
      }

      #contact-me .container-fluid {
        padding: 45% 13% 50%;
      }

      #contact-me h1 {
        font-size: 4.2rem;
      }

      #contact-me h4 {
        font-size: 1.6rem;
      }
    }

    /* Mobile Devices */
    @media screen and (max-width: 480px) {
      html {
        overflow-x: hidden;
      }

      .navbar-nav .nav-link {
        padding-right: 1.5rem;
        padding-left: 0;
      }

      #title h1 {
        font-size: 3.5rem;
        line-height: 1;
        letter-spacing: 0.25em;
      }

      #title h4 {
        font-size: 1.3rem;
        letter-spacing: 0.15em;
      }

      #title p {
        font-size: 1.3rem;
        margin-top: 1.5rem;
      }

      .title-img-container {
        width: 120vw;
        height: 120vw;
        left: 3%;
        top: -46%;
      }

      .lights_container {
        right: -27%;
        height: 100vw;
        width: 100vw;
      }

      .stars_container {
        top: 60%;
        right: -27%;
        height: 110vw;
        width: 110vw;
      }

      .navbar {
        padding: 0.9rem 1.2rem 0;
        margin-bottom: 1.5rem;
        width: 100%;
      }

      .navbar-brand {
        font-size: 0.9rem;
        letter-spacing: 0.4rem;
      }

      .animated-icon {
        left: 1.3rem;
      }

      .animated-icon span {
        width: 70%;
      }

      .icon {
        display: none;
      }

      .my-name-container {
        margin: 18rem 0 0;
      }

      /* Content Animations */
      .h1--hidden {
        opacity: 0;
        transform: translateX(-17rem);
      }

      .h4--hidden {
        transform: translateX(-15rem);
      }

      .span-top--hidden {
        transform: translateX(-8rem);
      }

      .span-bottom--hidden {
        transform: translateX(-5rem);
      }

      .carousel-control-next {
        right: -10px;
      }

      .carousel-control-prev {
        left: -10px;
      }

      .carousel-indicators {
        display: none;
      }

      .unity-badge {
        width: 18%;
      }

      #web-development {
        padding-top: 5rem;
      }

      #gameplay-programming h1 {
        font-size: 2.6rem;
      }

      #gameplay-programming h4 {
        font-size: 1rem;
        letter-spacing: 0.15em;
      }

      #web-development h1 {
        font-size: 3rem;
        padding-top: 20%;
      }

      #about-me h1 {
        font-size: 3rem;
      }

      #gameplay-programming .container-fluid {
        padding: 5% 10% 0;
      }

      #carousel .container-fluid {
        padding: 7% 1%;
      }

      #penguin-vs-monsters .image {
        width: 80%;
      }

      #galaxy-pew-pew .image {
        width: 60%;
      }

      #beep-boop .image {
        width: 80%;
      }

      #brek-blok .image {
        width: 80%;
      }

      #the-void .image {
        width: 80%;
      }

      #magic-number .image {
        width: 80%;
      }

      #sumo-fight .image {
        width: 80%;
      }

      #reflex .image {
        width: 80%;
      }

      #notangry-birds .image {
        width: 80%;
      }

      #nut-car .image {
        width: 80%;
      }

      #the-runner .image {
        width: 80%;
      }

      #hungry-stampede .image {
        width: 80%;
      }

      #description .container-fluid {
        padding-left: 2rem;
        position: relative;
        left: 0;
        width: 280px;
      }

      #description h3 {
        width: 500px;
        font-size: 1.7rem;
        padding-bottom: 3px;
      }

      #description h5 {
        width: 350px;
        font-size: 1rem;
        line-height: 1.5;
      }

      #description li {
        width: 300px;
        font-size: 0.9rem;
        line-height: 1.6;
        letter-spacing: 1px;
      }

      .btn {
        font-size: 1rem;
      }

      #gameplay-programming .row {
        padding-bottom: 3rem;
      }

      #content .container-fluid {
        padding: 4% 10% 0;
      }

      #web-development h4 {
        font-size: 1rem;
        letter-spacing: 0.15em;
      }

      #content h3 {
        font-size: 1.7rem;
        padding-top: 17px;
      }

      #content h5 {
        font-size: 0.9rem;
        line-height: 1.5;
        padding: 1px 0 0;
        letter-spacing: 0.1em;
      }

      #content .btn {
        margin-top: 1rem;
        margin-bottom: 20%;
      }

      #about-me .container-fluid {
        padding: 20% 10% 3%;
      }

      #about-me h1 {
        font-size: 2.6rem;
      }

      #about-me p {
        font-size: 1.1rem;
      }

      #contact-me .container-fluid {
        padding: 80% 10%;
      }

      #contact-me h1 {
        font-size: 2.6rem;
      }

      #contact-me h4 {
        font-size: 1.3rem;
      }
    }
  }
}

@media screen and (max-width: 320px) {
  #description li {
    width: 250px;
    font-size: 0.8rem;
    line-height: 1.6;
    letter-spacing: 1px;
  }

  #description h5 {
    width: 300px;
    font-size: 0.9rem;
    line-height: 1.5;
  }

  #about-me p {
    font-size: 0.9rem;
  }

  #web-development {
    padding-top: 5rem;
  }

  #web-development h1 {
    font-size: 2.5rem;
    padding-top: 20%;
  }

  /* Content Animations */
  .h1--hidden {
    opacity: 0;
    transform: translateX(-2rem);
  }

  .h4--hidden {
    transform: translateX(-8rem);
  }

  .span-top--hidden {
    transform: translateX(-5rem);
  }

  .span-bottom--hidden {
    transform: translateX(-3rem);
  }
}
